/* HTML ELEMENTS */

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

html, body {
    background-color: #222;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: helvetica, arial;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    text-align: center;
    padding: 7px;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.state-control, .volume-control {
    margin: 0 auto;
}

.player-control {
    padding: 7px;
    margin: auto;
    text-align: center;
}

.volume-control {
    padding-top: 7px;
}


/* PROGRAMME INFO + MORE LIKE THIS SHARED */

.programme-information, .more-like-this h2 {
    margin: 2%;
}

.programme-information img, .more-like-this img {
    float: left;
    display: block;
    height: auto;
}

.programme-information span, .more-like-this span {
    display: block;
    margin-bottom: 5px;
}

/* PROGRAMME INFORMATION */

.programme-information {
    overflow: hidden;
}

    .programme-information img {
        width: 50%;
    }

    .programme-information .metadata {
        float: left;
        width: 45%;
        padding-left: 5%;
        padding-bottom: 5%;
    }

/* MORE LIKE THIS */

.more-like-this {
    overflow: hidden;
}

.more-like-this {
    display: none;
    width: 98%;
    overflow-x: scroll;
    overflow-x: touch;
    overflow-y: hidden;
}
    .more-like-this img {
        width: 100%;
    }
    .more-like-this ul {
        float: left;
    }
        .more-like-this ul li {
            float: left;
            position: relative;
            margin: 0.25%;
        }
            .more-like-this .metadata {
                font-size: 0.8em;
                position: absolute;
                background-color: black;
                opacity: 0.7;
                width: 100%;
                bottom: 0;
            }
                .more-like-this h3 {
                    margin: 2% 0 0 2%;
                    padding-right: 2%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .more-like-this span {
                    margin-left: 2%;
                }


input[type="range"]{
    -webkit-appearance:none !important;
    background-color: #dcdcdc;
    height: 2px;
    width: 27%;
 }

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none !important;  
    background-color: #f54997;
    height: 30px;
    width: 15px;
    border: 0;
}

@font-face {
   font-family: 'iplayer';
    src:url('fonts/iplayer.eot');
    src:url('fonts/iplayer.eot?#iefix') format('embedded-opentype'),
        url('fonts/iplayer.woff') format('woff'),
        url('fonts/iplayer.ttf') format('truetype'),
        url('fonts/iplayer.svg#iplayer') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'iplayer';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #f54997;
    margin: 0;
    padding: 0;
}

    .state-control .icon {
        font-size: 5vw;
        padding: 3%;
        background: #000;
        line-height: 2;
        color:  #fff;
    }

    .volume-control .icon {
        font-size: 3vw;
        position: relative;
        top: 13px;
    }

.play-pause {
    margin-left: 3%;
    margin-right: 3%;
}

.state-control .icon:hover {
    background-color: #f54997;
}

.mute:before {
    content: "\e000";
}

.volume:before {
    content: "\e001";
}

.pause:before {
    content: "\e002";
}

.play:before {
    content: "\e003";
}

.rewind:before {
    content: "\e005";
}

.forward:before {
    content: "\e006";
}

.iplayer:before {
    content: "\e004";
}

.iplayer {
    font-size: 9.5vw;
}
